faster-whisper
tqdm
fastapi
uvicorn[standard]
platformdirs
pydantic
pydantic-settings
python-multipart
pywebview
pystray
Pillow
PyQt6
qtpy
PyQt6-WebEngine
llama-cpp-python
huggingface-hub
imageio-ffmpeg